.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  font-weight: 700;
  line-height: 1;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.storybook-button--primary {
  background-color: #B1F149;
  border-color: 1px solid #CAF684;
  color: #232A33;
}

.storybook-button--secondary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: transparent;
  color: #333;
}