.storybook-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 44px;
  cursor: pointer;
  border: 0;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 16px;
  gap: 12px;
}

.storybook-button--primary {
  background-color: #B1F149;
  border: 1px solid #CAF684;
  color: #232A33;
}

.storybook-button--secondary {
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset; */
  background-color: transparent;
  border: 1px solid #B1F149;
  color: #B1F149;
}