.storybook-input--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.storybook-input--label {
  color: #9CA3AF;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
}

.storybook-input--box {
  width: 288px;
  height: 42px;
  border-radius: 8px;
  padding: 0px 16px;
  border: 1px solid #4B5563;
  background-color: #3A424E;
  color: #D1D5DB;
}