.storybook-select--container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 320px;
}

.storybook-select--options {
  appearance: none;
  width: 141px;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #4B5563;
  background-color: #3A424E;
  font-family: 'Inter' sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.4px;
  color: #D1D5DB;
  text-align: left;
  padding: 12px 16px;
  position: relative;
}

.storybook-select--container::after {
  content: '\2335';
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #D1D5DB;
  padding: 0 12px;
}
