.storybook-table {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border: 1px solid #374151;
  border-radius: 8px;
  color: #9CA3AF;
  overflow: hidden;
  background-color: #161A22;
  width: 1680px;
}

.storybook-table--header {
  display: flex;
  background-color: #2F3646;
}

.storybook-table--row {
  display: flex;
  border-bottom: 1px solid #9CA3AF;
}

.storybook-table--row:last-child {
  border-bottom: none;
}

.storybook-table--row:hover {
  background-color: #2F3646;
}

.storybook-table--cell {
  flex: 1;
  text-align: left;
  padding: 12px 15px;
}

  .storybook-table--cell-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
  }

    .storybook-table--cell-cursor {
      cursor: pointer;
    }

.storybook-table--icons {
  display: flex;
  gap: 12px;
  font-size: 24px;
}

.storybook-table--pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}